/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
}

.container {
    padding: 0 calc(1% + 70px);
    margin: 0 auto;
    max-width: 1480px;
}

a {
    text-decoration: none;
    color: #8c8897;
    transition: .3s;
}

a:hover {
    color: #000;
}

.btn {
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    background-color: #000;
    transition: .3s;
}

.btn:hover {
    color: #fff;
    background-color: #2a2a2a;
}

/* generali menu */
.inline-menu {
    list-style: none;
}

.inline-menu::after {
    content: "";
    display: table;
    clear: both;
}

.inline-menu > li {
    float: left;
    margin-right: 30px;
}

.inline-menu > li:last-child {
    margin-right: 0;
}

.inline-menu > li strong {
    color: #222;
}

.inline-menu.appDownload {
    margin-left: auto;
}

.hamburger {
    display: none;
    margin-left: auto;
    position: relative;
    top: -10px;
    font-size: 22px;
}

.menu-xs {
    display: none;
}

/* generali dropdown */
.parent-dropdown {
    position: relative;
}

.parent-dropdown {
    margin-right: 0!important;
}

.parent-dropdown:hover > a {
    color: #000;
}

.parent-dropdown > a {
    padding: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 20px 0;
    top: 30px;
    left: -20px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 1px 7px 15px #ccc; */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    z-index: 9;
}

.dropdown-menu {
    list-style: none;
    white-space: nowrap;
}

.dropdown-menu li {
    padding: 0 15px;
}

.dropdown-menu a {
    display: inline-block;
    padding: 15px 20px;
}

.dropdown-menu .disabled {
    color: rgb(139, 149, 158);
    font-size: 14px;
    padding: 15px 35px;
}

.dropdown-menu sup {
    color: #0666f0;
    font-weight: 900;
}


/* header */
header {
    background-color: #f3f4f5;
}

header > div {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main */
main {
    margin-top: 50px;
}

main nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 70px;
}

main .logo {
    margin-right: 70px;
}

.jumbo {
    display: flex;
    margin-top: 70px;
    width: 100%;
}

.jumbo img {
    margin-left: 12%;
    max-height: 600px;
}

.jumbo .landing {
    width: 40%;
}

.jumbo .landing h1 {
    margin-top: 50px;
    font-size: 76px;
}

.jumbo .landing p {
    margin-top: 30px;
    color: #8c8897;
    line-height: 1.7em;
}

.jumbo .landing .form {
    margin-top: 30px;
}

.jumbo .landing .form .btn {
    margin-left: 20px;
    padding: 15px 40px;
}

#prefisso, #cellulare {
    padding: 5px;
    height: 30px;
    border: 0;
    border-bottom: solid 1px #ccc;
}

#prefisso {
    width: 50px;
}

#cellulare {
    width: 180px;
}

.landing .landing-footer {
    margin-top: 50px;
    font-size: 14px;
}

.landing .landing-footer span {
    margin-left: 15px;
}

/* footer */
footer {
    display: none;
    text-align: center;
    background-color: #fff;
}

footer h2 {
    font-size: 32px;
    margin: 20px 0 100px;
}

footer .appDownload {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* MEDIA QUERY */
@media all and (max-width: 1540px) {
    .container {
        /* padding: 0 calc(1% + 50px); */
    }
}

@media all and (max-width: 1080px) {
    .hamburger,
    footer {
        display: block;
    }


    main .inline-menu .parent-dropdown,
    .inline-menu.appDownload,
    .jumbo .landing .form,
    .jumbo .landing .landing-footer {
        display: none;
    }

    header > div {
        height: 90px;
    }

    main {
        margin-top: 0;
        height: calc(100vh - 140px);
        overflow: hidden;
    }

    main nav {
        margin-top: 20px;
    }

    .jumbo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 200px;
        overflow: hidden;
    }

    .jumbo .landing {
        width: 65%;
        text-align: center;
    }

    .jumbo .landing h1 {
        font-size: 46px;
    }

    .jumbo .landing p {
        width: 83%;
        margin-right: auto;
        margin-left: auto;
    }

    /* hamburger menu*/
    .menu-xs.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 100%;
        height: calc(100vh - 300px);
        background-color: #fff;
        z-index: 98;
    }

    .menu-xs .close {
        position: absolute;
        top: -70px;
        right: 60px;
        font-size: 28px;
        z-index: 99;
    }

    .menu-xs .parent-dropdown {
        list-style: none;
    }

    .menu-xs .parent-dropdown a {
        display: inline-block;
        font-size: 20px;
    }

    .menu-xs .dropdown {
        display: none;
        position: relative;
        top: -21px;
        left: -7px;
        padding: 20px 0;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
    }

    .menu-xs .dropdown a {
        font-size: 16px;
    }

    .hidden-xs {
        display: none;
    }
}
